* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1a4b3a;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 30px;
    width: 600px;
    min-height: 600px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #033725;
}

img{
    display: block;
}

#logo {
    width: 30%;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.prato{
    width: 50%;
    height: 50%;
    border: 3px solid #043323;
    border-radius: 10px;
    width: 100%;
    height: auto
}


#abas {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
}

li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-tab{
    background-color: #067547;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.centered-text{
    position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

/*
https://www.w3schools.com/howto/howto_css_image_transparent.asp
https://www.cssportal.com/css-image-filter-generator/
https://imagecolorpicker.com/
*/